.row{
    height: 40vh;
    border: 2px solid red;
}
.col-lg-8{
    height: 39vh;
    border: 2px solid black;
    padding-top: 10px;
    padding-left: 40px;
}
.col-lg-4{
    height: 39vh;
    border: 2px solid black;
    padding-top: 10px;
    padding-left: 40px;
}
.points-table{
    border: 2px solid red;
}